.Keys{
    width: 620px;
    height: 60px;
    background-color: skyblue;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin: 400px;
    margin-left: 520px;
    font-size: 2em;
    border-radius: 7px;
    background-color: plum;
}
